:root {
    --bg-dark: #000000;
    --color-gold: #BDAE82;
    --color-white: #ffffff;
  }
  
  html{
    box-sizing: border-box;
    scroll-behavior: smooth; 
    overflow-x: hidden;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }

body {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    background-color: #FFFCFF;
}

.empty-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 200px;
}

.empty{
    color: hsl(0, 0%, 100%);
    width: 100px;
    height: 100px;
    margin-left: 30px;
    background-color: #1b317a;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backlog{
    height: 700px;
    width: 300px;
    background-color: #58bae4;
    margin-right: 30px;
}





.example-parent {
    border: 2px solid #DFA612;
    color: black;
    display: block;

    font-family: sans-serif;
    font-weight: bold;
    width: 300px;
    margin-right: 30px;
  }
  
  .example-origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  
  .example-draggable {
    background-color: #4AAE9B;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .example-dropzone {
    background-color: #6DB65B;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }




button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
  
  #header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#1b317a;
  }
  #container {
    width: 770px;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
  }
  #weekdays div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #b8f1c9;
  }
  
  .day + #currentDay {
    background-color:#bbe5fa;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }